# Example environment variables for the Netweave projects
# Copy this file to `.env` at the root of the workspace and fill in real values.

# netweave-api
RESEND_API_KEY=your_real_resend_api_key_here # API key used by MailService when calling the resend.com endpoint
NODE_ENV=production # node.js environment "develop" | "production"
PORT=3000 # HTTP port the API listens on (needs to be 3000 at the moment, has to be changed in other places if changed here)
CRON_SCHEDULE_API_FETCH=*/1 * * * * # every minute by default
CRON_SCHEDULE_MAIL_SEND=*/1 * * * * # every minute by default

# netweave-db
DB_HOST=localhost # database host, needs to be 'netweave-db' when running in docker-compose
DB_USER=root
DB_PASSWORD=root
DB_DB=test
