# Example environment variables for the Netweave projects
# Copy this file to `.env` at the root of the workspace and fill in real values.

# netweave-api
SEND_MAIL_ACTIVATED=true # true|false; whether the MailService should actually send mails or just log them to the console (should be true for any prod system)
MAIL_RECEIVER=test@test.test # email address that receives the mails sent by MailService if SEND_MAIL_ACTIVATED is true
RESEND_API_KEY=your_real_resend_api_key_here # API key used by MailService when calling the resend.com endpoint (needed if SEND_MAIL_ACTIVATED is true)
NODE_ENV=production # "develop" | "production"; node.js environment 
PORT=3000 # number; HTTP port the API listens on (needs to be 3000 at the moment, has to be changed in other places if changed here)
CRON_SCHEDULE_MAIL_SEND=*/1 * * * * # every minute by default; https://crontab.guru/

# netweave-db
DB_HOST=localhost # database host, needs to be 'netweave-db' when running in docker-compose
DB_USER=root
DB_PASSWORD=root
DB_DB=test
