<div class="register">
  <app-auth-form
    class="register__auth-form"
    [errorMessage]="error()"
    [loading]="loading() === 'loading'"
    (submitted)="onSubmit($event)"
  >
    <p ngProjectAs="top-label">Account anlegen</p>
    <p ngProjectAs="bottom-text">
      Du hast schon einen Account?
      <a routerLink="/login" class="link">Jetzt anmelden</a>
    </p>
    <p ngProjectAs="button-text">
      {{ loading() === 'loading' ? 'Bitte warten…' : 'Account anlegen' }}
    </p>
  </app-auth-form>
</div>
