<div class="welcome-user w-full flex justify-center mt-4">
  <div class="welcome-user__container flex flex-col">
    <h1 class="welcome-user__title">Welcome!</h1>

    <p class="welcome-user__message">
      You have successfully logged in to netweave.
    </p>

    <pre class="welcome-user__organization">{{
      organizationLatest.value()?.name ?? ''
    }}</pre>

    <a
      class="welcome-user__link pt-4 link"
      *appHasRole="'admin'"
      routerLink="/user-invitation"
    >
      Go to User Invitation Page
    </a>
  </div>
</div>
