<div class="member-questions w-full flex justify-center mt-4">
  <div class="member-questions__container flex flex-col">
    <h1 class="member-questions__title text-xl font-bold">Fragebogen</h1>

    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mt-4"
    >
      <div class="field">
        <label class="label" for="email">Email</label>
        <input
          class="input"
          id="email"
          type="email"
          [value]="invitation.value()?.email ?? ''"
          disabled
        />
      </div>
    </fieldset>
  </div>
</div>
